@font-face {
    font-family: "Din";
    src: url("/Assets/Font/d-din/D-DIN.otf");
  }
  @font-face {
    font-family: "Din1";
    src: url("/Assets/Font/d-din/D-DIN.otf");
  }
  @font-face {
    font-family: "Helvetica";
    src: url("/Assets/Font/helveticaneue/HelveticaNeue Light.ttf");
  }