$primary: #415fff;
$sideBg: #f5f5f5;


// adminLoginPage
.adminLoginPage {
    background: #f5f5f5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .adminLoginDiv {
        width: 500px;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background: white;

        .heading {
            font-size: 24px;
            text-align: center;
            font-weight: 500;
        }

        .inBox {
            margin-top: 15px;

            .tit {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            .inText {
                width: 100%;
                border: 1px solid #9b9b9b;
                outline: none;
                padding: 8px 12px;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .loginbtn {
            display: block;
            margin-top: 25px;
            padding: 10px 60px;
            text-transform: uppercase;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: white;
            background: $primary;
            outline: none;
            border: 0px solid $primary;
            transition: all 0.3s;

            &:hover {
                box-shadow: 100px 0px 0px black inset, -100px 0px 0px black inset;
            }
        }
    }
}

//Admin dashBoard
.req {
    color: red;
}

.AdminDashMain {
    height: 100vh;

    .AdHeadr {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $primary;

        .logoTog {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 20px;

            img {
                margin: 17px 0px;
            }

            .adTogler {
                border: none;
                outline: none;
                background: transparent;

                svg {
                    font-size: 24px;
                    color: white;
                }
            }
        }

        .userInfo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 30px;

            .userin {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                column-gap: 3px;

                svg {
                    color: white;
                    font-size: 22px;
                }

                .name {
                    color: white;
                    font-size: 20px;
                    // font-weight: 500;

                }
            }

            .logoutBtn {
                border: none;
                outline: none;
                background: transparent;
                color: white;
                font-size: 20px;

            }
        }
    }

    .AdContent {
        height: calc(100vh - 85px);
        padding-left: 300px;

        .adSidebar {
            width: 300px;
            position: fixed;
            top: 85px;
            left: 0px;
            bottom: 0px;
            background: $sideBg;
            padding: 10px;

            .inner {
                .customAcco {
                    .accordion-item {
                        .accordion-header {
                            .catIcons {
                                margin-right: 10px;
                                font-size: 20px;
                            }

                            button {
                                box-shadow: none;
                                padding: 15px;
                                font-size: 20px;
                                font-weight: 500;

                                &:hover {
                                    background: $primary;
                                    color: white;

                                    &::after {
                                        filter: brightness(0) invert(1);
                                    }
                                }

                                &[aria-expanded='true'] {
                                    background: $primary;
                                    color: white;

                                    &::after {
                                        filter: brightness(0) invert(1);
                                    }
                                }
                            }
                        }

                        .accordion-collapse {
                            .accordion-body {
                                padding: 15px;

                                ul {
                                    list-style: none;
                                    padding-left: 0px;
                                    margin-bottom: 0px;

                                    li {
                                        &:first-child {
                                            margin-top: 0px;
                                        }

                                        margin-top: 10px;

                                        a {
                                            color: black;
                                            text-decoration: none;
                                            font-size: 18px;
                                            font-weight: 500;
                                            padding-left: 10px;
                                            transition: all .3s;
                                            display: block;

                                            &.active {
                                                color: $primary;
                                            }

                                            &:hover {
                                                color: $primary;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .sideLinks {
                    .siLink {
                        background: white;
                        display: block;
                        width: 100%;
                        padding: 15px;
                        font-size: 20px;
                        font-weight: 500;
                        color: black;
                        text-decoration: none;
                        transition: all .3s;

                        &:hover {
                            background: $primary;
                            color: white;
                        }

                        .catIcons {
                            margin-right: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .adRightContent {
            padding: 20px;
            height: calc(100vh - 85px);
            overflow-y: scroll;

            .pathSec {
                position: relative;

                .title {
                    font-size: 24px;
                    font-weight: 600;
                }

                .path {
                    color: black;
                    font-weight: 500;

                    span {
                        color: $primary;
                    }
                }

                .addBtn {
                    padding: 5px 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    background: $primary;
                    border: 1px solid $primary;
                    transition: all .4s;
                    color: white;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);

                    &:hover {
                        color: $primary;
                        background: transparent;
                    }
                }
            }

            .hello {
                margin-top: 40px;
                text-align: center;
                font-size: 42px;
            }

            .taglist {
                margin-top: 30px;

                .taglistTable {
                    width: 100%;

                    thead {
                        tr {
                            background: #f5f5f5;

                            td {
                                padding: 10px;
                                font-weight: 600;

                            }
                        }
                    }

                    tbody {
                        tr:nth-child(even) {

                            background: #f5f5f5;
                        }

                        tr {
                            td {
                                padding: 10px;
                                font-weight: 500;
                            }
                        }

                        .isAct {
                            border-radius: 2px;
                            background: rgb(99, 192, 99);
                            color: white;
                            display: inline-block;
                            padding: 0px 5px;
                            font-size: 14px;
                            text-transform: uppercase;
                        }

                        .isNotAct {
                            border-radius: 2px;
                            background: rgb(255, 119, 119);
                            color: white;
                            display: inline-block;
                            padding: 0px 5px;
                            font-size: 14px;
                            text-transform: uppercase;
                        }

                        .actions {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            column-gap: 10px;

                            button {
                                width: 30px;
                                height: 30px;
                                border: none;
                                outline: none;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                border-radius: 5px;

                                &.EditIcobtn {
                                    background: rgb(90, 142, 255);
                                }

                                &.EditDltbtn {
                                    background: rgb(255, 103, 57);
                                }
                            }
                        }
                    }
                }
            }

            .formDiv {
                margin-top: 30px;
                padding: 15px;
                box-shadow: 0px 5px 10px rgb(218, 218, 218);

                .formTitle {
                    color: black;
                    font-size: 22px;
                    font-weight: 500;

                }

                .form {
                    .inBox {
                        margin-top: 10px;

                        .inTitle {
                            font-size: 18px;
                            margin-bottom: 8px;
                            font-weight: 500;
                        }

                        .inText {
                            width: 400px;
                            border: 1px solid $primary;
                            outline: none;
                            padding: 5px 10px;
                            font-size: 16px;
                            color: black;
                        }

                        .inTextarea {
                            width: 100%;
                            border: 1px solid $primary;
                            outline: none;
                            padding: 5px 10px;
                            font-size: 16px;
                            color: black;
                        }

                        .inSelect {
                            width: 400px;
                            border: 1px solid $primary;
                            outline: none;
                            padding: 5px 10px;
                            font-size: 16px;
                            color: black;
                            appearance: none;
                            background-image: url("/images/selectArr.svg");
                            background-repeat: no-repeat;
                            background-position-x: 97%;
                            background-position-y: 50%;
                        }

                        .inCheck {
                            width: 18px;
                            height: 18px;
                        }

                        .catImgPrev {
                            width: 200px;
                        }
                    }

                    .formBtns {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        column-gap: 10px;

                        button {
                            padding: 5px 12px;
                            text-transform: uppercase;
                            font-weight: 600;
                            background: $primary;
                            border: 1px solid $primary;
                            transition: all .4s;
                            color: white;
                            font-size: 16px;

                            &:hover {
                                color: $primary;
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

}

// reactPaginate
.reactPaginate {
    margin-top: 30px;

    ul {
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;

        li {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f5f5f5;
            border-radius: 5px;

            a {
                padding: 0px 10px;
                font-weight: 500;
            }

            color: rgb(0, 0, 0);

            &.selected {
                background: $primary;
                color: rgb(255, 255, 255);
            }

            &.previous,
            &.next {
                width: auto;
                padding: 0px 10px;
                text-transform: uppercase;

                a {
                    color: black;
                    font-weight: 500;
                    text-decoration: none;
                }

            }

            &.disabled {
                opacity: .5;
            }

        }
    }
}

// proDuctVarientsMain
.proDuctVarientsMain {
    margin-top: 20px;

    .titBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tit {
            font-weight: 500;
            font-size: 22px;
        }

        button {
            padding: 5px 12px;
            text-transform: uppercase;
            font-weight: 600;
            background: $primary;
            border: 1px solid $primary;
            transition: all .4s;
            color: white;
            font-size: 16px;

            &:hover {
                color: $primary;
                background: transparent;
            }
        }

    }
}

// catsTags
.catsTags {
    .catSec {
        margin-bottom: 20px;

        .cattitle {
            font-size: 22px;
            font-weight: 500;
        }

        .CatUl {
            margin-top: 15px;
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0px;

            .CatLi {
                list-style: none;
                margin-bottom: 0px;
            }

            .catElem {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                column-gap: 10px;

                input {
                    width: 16px;
                    height: 16px;
                    accent-color: $primary;
                }

                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

// varientModalMain
.varientModalMain {
    background: #f5f5f5;
    margin-top: 20px;
    padding: 15px;

    .closeDiv {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            background: transparent;
            border: none;
            outline: none;
        }
    }

    .vformDiv {
        .vformTitle {
            font-size: 22px;
            font-weight: 500;
        }

        .form {
            .inBox {
                margin-top: 10px;

                .intitle {
                    font-size: 18px;
                    font-weight: 500;
                }

                input {
                    width: 100%;
                    border: 1px solid $primary;
                    outline: none;
                    padding: 5px 10px;
                    color: black;
                }
            }
        }
    }

    .vimgesDiv {
        margin-top: 10px;

        .elem {
            margin-top: 20px;
        }

    }

    .btnsDiv {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;

        button {
            padding: 5px 12px;
            text-transform: uppercase;
            font-weight: 600;
            background: $primary;
            border: 1px solid $primary;
            transition: all .4s;
            color: white;
            font-size: 16px;

            &:hover {
                color: $primary;
                background: transparent;
            }
        }

    }

}

// varientListDiv
.varientListDiv {
    margin-top: 20px;
    background: #f5f5f5;
    padding: 15px;

    .vatTitle {
        font-size: 20px;
        font-weight: 500;
    }

    .vListElem {
        margin-top: 15px;
        background: #e5e5e5;
        padding: 10px;

        .filedBox {
            .titField {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

// heighLights{
.heighLights {
    margin-top: 20px;

    .head {
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 12px;
    }

    .heiList {
        margin-top: 15px;
    }

    .inField {
        .titleFi {
            font-size: 18px;
            margin-bottom: 2px;
        }

        .inWrapperr {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 15px;

            .heInput {
                width: 100%;
                flex: 1;
                border: 1px solid $primary;
                outline: none;
                padding: 5px 10px;
                color: black;

            }

            button {
                background: $primary;
                outline: none;
                padding: 5px 20px;
                color: black;
                border: none;
                color: white;
            }
        }
    }
}

// Products Offers
.productOffers {
    // margin-top: 20px;
    // border: 2px solid red;
    padding: 30px;

    .head {
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 12px;
    }

    .offersAndTermsWrapper {
        background-color: #fff;
        border: 2px solid #E1E1E1;
        padding: 10px;

        .enterOffers {
            .inBoxKey {
                .keyTit {
                    font-size: 18px;
                    margin-bottom: 2px;
                }

                input {
                    border: 1px solid $primary;
                    outline: none;
                    padding: 5px 10px;
                    color: black;
                    width: 100%;
                }
            }
        }

        .enterTC {
            margin-top: 20px;

            .inField {
                .titleFi {
                    font-size: 18px;
                    margin-bottom: 2px;
                }

                .inWrapperr {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    column-gap: 15px;

                    .heInput {
                        width: 100%;
                        flex: 1;
                        border: 1px solid $primary;
                        outline: none;
                        padding: 5px 10px;
                        color: black;

                    }

                    button {
                        background: $primary;
                        outline: none;
                        padding: 5px 20px;
                        color: black;
                        border: none;
                        color: white;
                    }
                }

                .tc-list {
                    // border: 2px solid green;
                    margin-top: 20px;

                    ul {

                        // list-style-type: decimal;
                        li {
                            display: flex;
                            align-items: flex-start;
                            // justify-content: space-between;
                            padding: 8px 0;
                            border-bottom: 1px solid #D1D1D1;

                            .number {
                                padding-right: 7px;
                            }

                            .listItem {
                                // border: 2px solid red;
                                flex: 1;
                            }

                            .croosIcon {
                                cursor: pointer;
                                font-size: 24px;
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }

            .addoffersBtn {
                margin-top: 40px;

                button {
                    background: $primary;
                    outline: none;
                    padding: 5px 20px;
                    color: black;
                    border: none;
                    color: white;
                    margin-right: 15px;
                }

                .removeBtn {
                    background-color: red;
                }
            }
        }
    }
}

//  speciAddDiv
.speciAddDiv {
    margin-top: 20px;

    .SpeciAddBtn {
        padding: 5px 20px;
        font-size: 18px;
        color: white;
        background: $primary;
        border: none;
        outline: none;
        margin-top: 20px;
    }

    .head {
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 12px;
    }

    .speciInBox {
        background: white;
        padding: 10px;

        .spHead {
            font-size: 18px;
            margin-bottom: 2px;
        }

        .heading {
            border: 1px solid $primary;
            outline: none;
            padding: 5px 10px;
            color: black;
            width: 100%;
        }

        .KeyValIn {
            margin-top: 10px;

            .inBoxKey {
                .keyTit {
                    font-size: 18px;
                    margin-bottom: 2px;
                }

                input {
                    border: 1px solid $primary;
                    outline: none;
                    padding: 5px 10px;
                    color: black;
                    width: 100%;
                }
            }

            .keyValAddBtb {
                padding: 5px 20px;
                background: $primary;
                color: white;
                font-size: 16px;
                text-transform: uppercase;
                border: none;
                outline: none;
                margin-top: 15px;

            }
        }

        .valuesList {
            margin-top: 15px;
        }
    }

    .SpeciListAll {
        margin-top: 20px;
        background: #ffffff;
        padding: 10px;

        .speciElem {
            margin: 10px 5px;

            .hed {
                font-size: 20px;
            }
        }

    }
}

.imgsDDiv {
    margin-top: 15px;

    .headi {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .imgs {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 20px;

        .imgWrapper {
            position: relative;

            img {
                aspect-ratio: 1;
                object-fit: cover;
                object-position: center;
            }

            button {
                position: absolute;
                top: 0px;
                left: 0px;
                background: $primary;
                color: white;
                width: 25px;
                height: 25px;
                font-size: 12px;
                border: none;

            }
        }

    }
}

.addVarBtnwrap {
    margin-top: 20px;

    button {
        border: none;
        outline: none;
        background: $primary;
        color: white;
        padding: 5px 20px;
        text-transform: uppercase;
    }
}

.addVarBtnwrap3 {
    margin: 20px;


    button {
        border: none;
        outline: none;
        background: $primary;
        color: white;
        padding: 5px 20px;
        text-transform: uppercase;
    }
}

// vivoVarList
.vivoVarList {
    margin-top: 20px;
    padding: 10px;

    .helist {
        font-size: 20px;
    }

    .varitem {
        background: #f5f5f5;
        padding: 10px;
        padding: 10px;
        margin-top: 10px;
        position: relative;

        .dlt {
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 3px 6px;
            background: red;
            color: white;
            border: none;
            outline: none;
        }

        .edit {
            position: absolute;
            top: 0px;
            right: 70px;
            padding: 3px 6px;
            background: rgb(37, 69, 255);
            color: white;
            border: none;
            outline: none;
        }

        .termsCondition {
            position: absolute;
            top: 0px;
            right: 130px;
            padding: 3px 6px;
            background: #00C8FF;
            color: white;
            border: none;
            outline: none;
        }

        .itembox {
            .title {
                font-size: 18px;
                text-transform: capitalize;

            }

            .val {
                font-size: 15px;
            }
        }
    }
}



// allOrdersMainAdmin
.allOrdersMainAdmin {
    margin-top: 20px;

    .allOrdersBox {
        margin-top: 15px;
        background: #e1e9ff;
        padding: 15px 20px;

        .IdPlaceItems {
            padding-bottom: 15px;
            border-bottom: 1px solid #D1D1D1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: black;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;

            @media screen and (max-width:500px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: start;
                row-gap: 10px;
            }

            span {
                font-weight: 700;
            }
        }

        .productList {
            margin-top: 30px;

            .product {
                margin-bottom: 30px;

                .productDetail {
                    .name {
                        color: black;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        margin-bottom: 0px;
                    }

                    .desc {
                        margin-top: 5px;
                        margin-bottom: 0px;
                        color: black;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                    }

                    .sizeQty {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        column-gap: 20px;

                        .size,
                        .qty {
                            color: black;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px;

                            span {
                                font-weight: 700;
                            }
                        }
                    }

                    .mrp {
                        margin-top: 7px;
                        color: black;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
        }

        .customAccordian {
            background: none;
            border: none;

            .accordion-header {
                button {
                    padding: 10px 0px;
                    border: none;
                    border-top: 1px solid #D1D1D1;
                    border-bottom: 1px solid #D1D1D1;
                    background: none;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media screen and (max-width:500px) {
                        flex-direction: column;
                        align-items: center;
                        justify-content: start;
                        row-gap: 10px;

                    }

                    .deliveryStatus {
                        color: black;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 22px;

                        span {
                            color: $primary;
                            font-weight: 700;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }

                    .deleveryInformation {
                        color: black;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: right;
                        text-decoration-line: underline;
                    }
                }
            }

            .accordion-body {
                padding: 20px 0px;

                .deliveredTo {
                    color: black;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 22px;
                    margin-bottom: 0px;
                }

                .deleverdToName {
                    margin-top: 13px;
                    margin-bottom: 0px;
                    color: black;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                }

                .deliveredAddress {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    color: black;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 22px;
                }
            }
        }

        .totalAmount {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;

            @media screen and (max-width:500px) {
                flex-direction: column;
                row-gap: 10px;


            }

            .amount {
                color: black;
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;

                span {
                    color: $primary;
                }
            }

            .invoiceBtn {
                border: 1px solid $primary;
                padding: 9px 33px;
                background: none;
                color: $primary;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;

                @media screen and (max-width:500px) {
                    width: 100%;

                }

            }
        }

        .modal {
            .modal-body {
                padding-top: 0px;

            }

            .modal-header {
                border-bottom: 0px;

                .modal-title {
                    color: black;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 22px;
                }
            }

            .productList {
                border-top: 1px solid #D1D1D1;
                padding-top: 18px;
                margin-top: 0px;

                .product {
                    margin-bottom: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    .name {
                        width: 70%;
                        overflow-x: hidden;
                        color: black;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;

                        span {
                            font-style: normal;
                            font-weight: 700;
                        }
                    }

                    .amount {
                        width: 30%;
                        color: black;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: right;
                    }
                }
            }

            .discountDiv {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 11px;
                border-top: 1px solid #D1D1D1;
                padding-bottom: 15px;

                .discount {
                    color: black;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;

                    span {
                        font-style: normal;
                        font-weight: 700;
                    }
                }

                .amount {
                    color: black;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;
                    text-align: right;
                }
            }

            .paymentMethod {
                padding-top: 11px;
                border-top: 1px solid #D1D1D1;
                color: black;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 19px;

                span {
                    font-style: normal;
                    font-weight: 700;
                }
            }

            .downloadInvoice {
                margin-top: 20px;
                border: 1px solid $primary;
                padding: 9px 15px;
                color: $primary;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                background: none;
            }
        }
    }
}

// .marketingImages
.marketingImages {
    margin-top: 20px;

    .title {
        font-size: 20px;
    }

    .imgBox {
        margin-top: 15px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 10px;

        .wrapper {
            position: relative;

            img {
                aspect-ratio: 1;
                object-fit: cover;

            }

            .dlt {
                background: red;
                color: white;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                position: absolute;
                top: 0px;
                right: 0px;
            }

        }

    }
}


// .proIntroSec
.proIntroSec {
    margin-top: 20px;

    .productNae {
        font-size: 22px;
        font-weight: 500;
    }

    .linkedProductList {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;

        .proElem {
            background: white;
            overflow: hidden;
            padding: 10px;
            box-shadow: 0px 0px 5px rgb(204, 204, 204);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            row-gap: 4px;

            .proImg {
                width: 80px;
            }

            .proName {
                text-align: center;
                font-size: 18px;
            }

            .colName {
                text-align: center;
                font-size: 16px;
            }

            .dltBtn {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 30px;
                height: 30px;
                background: rgb(255, 68, 68);
                color: white;
                outline: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
            }
        }
    }
}

.chsProduct {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
}

.statusUpdate {
    .title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
    }

    select {
        width: 200px;
        border: 1px solid $primary;
        padding: 5px 10px;
        margin-top: 10px;
        outline: none;
    }
}

.imgBtn {
    padding: 5px 12px;
    // text-transform: uppercase;
    // font-weight: 600;
    background: #c5c5c5;
    border: 1px solid #666666;
    transition: all 0.4s;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 4px;
}

.pdfDiv {
    .viewPdfBtn {
        text-decoration: none;
        padding: 5px 12px;
        text-transform: uppercase;
        font-weight: 600;
        background: $primary;
        border: 1px solid $primary;
        transition: all .4s;
        color: white;
        font-size: 16px;

        transform: translateY(-50%);

        &:hover {
            color: $primary;
            background: transparent;
        }
    }
}